<p>view-planter works!</p>

<h2 style="color: brown; font-style: italic;">{{plantName}} </h2>
<table>
    <tr>
        <td>
        <!-- <td *ngFor="let p of allPlanters"> -->
           
            <div><img src="/assets/images/image2.jpg"></div>
            
            <div> <i>planter cost:- </i> {{planterCost}} </div>
            
            <div><i>Shape:- </i>{{planterShape}}</div>
            <div><i>Height:- </i>{{planterHeight}}</div>
            <div><i>Name:- </i>{{plantName}}</div>
            
            <!-- <div><i>Capacity:- </i>{{p.planterCapacity}}</div><br /> -->
            <hr>
        </td>
        
    </tr>
</table>

