<p>view-seed works!</p>
<h2 style="color: brown; font-style: italic;">{{seedName}} </h2>
<table>
    <tr>
        <td>
            
            <div> Seed Name: {{seedName}} </div>
            <div> Bloom Season: {{bloomSeason}} </div>
            <div> Types of Seeds: {{typesOfSeeds}} </div>
            <div> Seed Stock: {{seedsStock}} </div>
            <div> Seeds Per Packet: {{seedsPerPacket}} </div>
            <div> About: {{about}} </div>
            <div> Discount: {{discount}} </div>
            <div> Rating: {{starRating}} </div>
            <div> Seed Price: {{price}} </div><br>
            
            <hr>
      
        </td>
        
    </tr>
</table>
