
<select #categoryName>
    <option> plant </option>
    <option> planter </option>
    <option> seed </option>
</select>
<input type="date" id="serchDate">
<button (click)="getOrders(categoryName.value)">Load Orders</button>


<div *ngFor="let p of allOrders">
    <div> <i>Order Id :- </i>{{p.bookingOrderId}}</div>
    <div> <i>Order Date :- </i>{{p.orderDate}}</div>
    <div> <i>Total Amount :- </i>{{p.totalCost}}</div>
    <div> <i>Customer Id :- </i>{{p.customerId}}</div>
    <div> <i>Product Id :- </i>{{p.productId}}</div>
    <div> <i>Category :- </i>{{p.category}}</div>
    <div><i>Transaction Mode :- </i>{{p.transactionMode}}</div>
    <div><i>Quantity :- </i>{{p.quantity}}</div><br/>
    <hr/>
</div>