<p>seed-filters works!</p>

<input type="text" #seedName>
<button (click)="getSeedName(seedName.value)">Seed Name</button>

<input type="text" #typesOfSeeds>
<button (click)="getSeedsByTypesOfSeeds(typesOfSeeds.value)">Types of Seeds</button>

<div *ngFor="let x of allSeeds">
    <div> Seed Name: {{x.seedName}} </div>
    <div> Bloom Season: {{x.bloomSeason}} </div>
    <div> Types of Seeds: {{x.typesOfSeeds}} </div>
    <div> Seed Stock: {{x.seedsStock}} </div>
    <div> Seeds Per Packet: {{x.seedsPerPacket}} </div>
    <div> Image: {{x.image}} </div>
    <div> About: {{x.about}} </div>
    <div> Discount: {{x.discount}} </div>
    <div> Rating: {{x.starRating}} </div>
    <div> Seed Price: {{x.price}} </div><br>
</div>
