<img src="/assets/images/{{p.imageName}}" alt="Product image" width="120px" height="150px">
<h2 style="color: brown; font-style: italic;">{{p.productName}} </h2>
<table>
    <tr>
        
        <td> 
            
            <p> {{p.about}} </p>
            <hr/>
            <span>Product Price <span>{{p.price|currency}}    </span>  
                <i *ngIf="p.discount>0"> 
                    with {{p.discount}}% Off 
                    <span *ngIf="p.discount>9">
                        <b style="color: blue; font-family: Georgia, 'Times New Roman', Times, serif;"><u> Recommended</u></b>
                    </span>
                </i> 
        
            </span> 
            <br/>
            Product Height {{p.height}} cm
           
            
        </td>
        
    </tr>
</table>

