<p>seed-varieties works!</p>
<table>
    <tr>
        <div *ngFor="let x of allSeeds">
            <div> Seed Name: {{x.seedName}} </div>
            <div> Bloom Season: {{x.bloomSeason}} </div>
            <div> Types of Seeds: {{x.typesOfSeeds}} </div>
            <div> Seed Stock: {{x.seedsStock}} </div>
            <div> Seeds Per Packet: {{x.seedsPerPacket}} </div>
            <div> Image: {{x.image}} </div>
            <div> About: {{x.about}} </div>
            <div> Discount: {{x.discount}} </div>
            <div> Rating: {{x.starRating}} </div>
            <div> Seed Price: {{x.price}} </div><br>
            <div><button value="view"
                    (click)="viewSeedDetails(x.seedName,x.bloomSeason,x.typesOfSeeds,x.seedsStock,x.seedsPerPacket,x.about,x.discount,x.image,x.starRating,x.price)">View
                    Details</button></div>
                    <button value="Add Order1" (click)="addOrder()" #order> add order  </button>
            <hr>
        </div>
    </tr>
</table>
